**/.vs/
*.suo
*.userprefs
*.DotSettings.user

/GKNetCore/bin/
/GKNetCore/obj/

/GKCommunicatorApp/bin/
/GKCommunicatorApp/obj/

/GKCommunicatorPlugin/bin/
/GKCommunicatorPlugin/obj/

/temp/

/libs/linux/
/libs/mswin/
