**/.vs/
*.suo
*.userprefs
*.DotSettings.user

/GKNetCore/bin/
/GKNetCore/obj/

/GKNetPNRP/bin/
/GKNetPNRP/obj/

/GKCommunicatorApp/bin/
/GKCommunicatorApp/obj/

/GKCommunicatorPlugin/bin/
/GKCommunicatorPlugin/obj/

/DHTSample/bin/
/DHTSample/obj/

/temp/

testrun_git.mswin.cmd
