**/.vs/
*.suo
*.userprefs
*.DotSettings.user

/GKNetCore/bin/
/GKNetCore/obj/

/GKNetPNRP/bin/
/GKNetPNRP/obj/

/GKSimpleChat/bin/
/GKSimpleChat/obj/
/GKSimpleChat/temp/

/DHTSample/bin/
/DHTSample/obj/

/TCPChatTest/bin/
/TCPChatTest/obj/

/temp/

testrun_git.mswin.cmd
